<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
          <h2>Login</h2>
          <div id="style2">
            <form action="/login" method="post">
              <input name="email" type="email" placeholder="E-mail" />
              <input name="password" type="password" placeholder="Password" />
              <input value="Log in" type="submit" />
              <% if(errors){ %>
                <pre style="color: rgb(243, 1, 1) ;"><%=errors%></pre>
                <% } %>
                </form>
              </div>
              <br />
              <p>Belum punya akun? <a href="/register">register here</a></p>
        </div>
      </div>
</body>
</html>